esp32/lora_receiver/build

esp32/lora_receiver/sdkconfig.old
esp32/lora_receiver/sdkconfig
avr/logic-module/encrypter_secret.private.h
schematics/pantry_signal_system_kicad/supply-backups/*.zip
3d_models/*.FCBak
3d_models/*.FCStd1
schematics/pantry_signal_system_kicad/full_schema-backups/
schematics/pss_v2/pss_v2-backups
